.results[b-3asepffdpk] {
    text-align: left;
}

.item .title[b-3asepffdpk] {
    font-size: large;
    font-weight: bold;
}

.logo[b-3asepffdpk]{
    width: 25%;
}

.searchButton[b-3asepffdpk]
{
    border: solid 0.5px rgb(122, 122, 122);
    width: 4.5%;
    padding: 0.3%;
}
.searchButton:hover[b-3asepffdpk]{
    border: solid 1px;
}

.searchImg[b-3asepffdpk]{
    width: 50%;
}

.result[b-3asepffdpk]{
    width: 90%;
    margin: 5% 4% !important;
    border: solid 1px black;
    padding: 2%;
    padding-bottom: 0;
    border-radius: 0.7rem;
}
.score[b-3asepffdpk]{
    text-align: right;
}
ul[b-3asepffdpk]{
    list-style:none;   
}