.results[b-3asepffdpk] {
    text-align: left;
}

.item .title[b-3asepffdpk] {
    font-size: large;
    font-weight: bold;
}

.logo[b-3asepffdpk]{
    width: 25%;
}

.searchButton[b-3asepffdpk]
{
    border: solid 0.5px rgb(122, 122, 122);
    width: 4.5%;
    padding: 0.3%;
}

.searchImg[b-3asepffdpk]{
    width: 50%;
}