.results {
    text-align: left;
}

.item .title {
    font-size: large;
    font-weight: bold;
}

.logo{
    width: 25%;
}

.searchButton
{
    border: solid 0.5px rgb(122, 122, 122);
    width: 4.5%;
    padding: 0.3%;
}
.searchButton:hover{
    border: solid 1px;
}

.searchImg{
    width: 50%;
}

.result{
    width: 90%;
    margin: 5% 4% !important;
    border: solid 1px black;
    padding: 2%;
    padding-bottom: 0;
    border-radius: 0.7rem;
}
.score{
    text-align: right;
}
ul{
    list-style:none;   
}